#one_page
  - 16.times do |i|
    %div{:class => "birdsound" , :id => "birdsound-#{i}"}

%script#birdsound{:type => "text/html"}
  %div
    = '{{ latin }}'

  -# %div.ui360.ui360-vis
    =link_to '{{ english }}', '{{ mp3 }}'
